SV_PORT=5000
SV_VERSION=v1
SV_URL=http://localhost
SV_TIMEZONE=Americas/Bahia
SV_SECRET=

DB_HOST=
DB_USER=
DB_PASSWORD=
DB_DATABASE=
DB_DATABASE=
DB_POOL_MIN=1
DB_POOL_MAX=4

WEATHERBIT_API_KEY=66a82c0e25784a37b5704eff4f68998e
